*{
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin: 20px;
}
h1 {
    margin-bottom: 10px;
}

button{
    padding: 10px;
}

body.dark{
    background-color: black;
    color: azure;
}

body.light{
    background-color: azure;
    color: black;
}